on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: Hello world action step
      id: hello
      uses: actions/hello-world-docker-action@v1
      with:
        who-to-greet: 'Mona the Octocat'
    - name: Get pwd
      id: pwd 
      run: pwd
    - name: touch
      id: touch 
      run: touch /home/runner/work/_temp/_github_home/foo
